<header class="main-header">
  <h1>Billboard Management System</h1>
  <nav>

    @if(authService.currentUser()){
      <span class="user-info">Hello, {{ authService.currentUser()?.username }}</span>
    }

    <a routerLink="/" class="nav-link">Home</a>

    @if(authService.currentUser()?.roles?.includes('ADMIN')){
      <a routerLink="/admin/users" class="nav-link">Users</a>
    }

    @if (!authService.currentUser()) {
      <a routerLink="/login" class="nav-link">Login</a>
      <a routerLink="/register" class="nav-link">Register</a>
    }

    @if (authService.currentUser()) {
      <a routerLink="/announcement/mine" class="nav-link">My Announcements</a>
      <button routerLink="/announcement/new" class="nav-btn">Create</button>
      <button (click)="authService.logout()" class="logout-btn">Logout</button>
    }
  </nav>
</header>

<main>
  @if (isHomePage()) {
    <app-billboard></app-billboard>
  }
  <router-outlet></router-outlet>
</main>
